<h3>Metric Fu Results</h3>
</ul>
<ul id='projects'>
<% %w{churn flay flog rcov dcov reek roodi saikuro stats}.each do |section| %>
  <% if eval("@#{section}")
      totals = case section.to_sym
        when :flay then @flay[:total_score]
        when :flog then (((@flog[:total] / @flog[:average]) * 100).round.to_f / 100)
        when :rcov then @rcov[:global_percent_run]
        when :stats then "#{@stats[:codeLOC]} lines"
        else nil # TODO : Calculate also for reek and roodi
      end
  %>
    <li class='even failure'>
      <a href="<%= "#{section}.html" %>">
        <%= section.capitalize %>
        <% if totals %>
          <span class='totals'><%= totals %></span>
        <% end %>
      </a>
    </li>
  <% end %>
<% end %>
</ul>
<p>Generated on <%= Time.now.localtime %></p>